#global_header {

	.logo {
		@include span-columns(12);
		text-align: center;

		img {
			width: 50%;
			height: auto;
			display: inline-block;
		}
	}

	.main_nav {
		@include span-columns(12);
		text-align: center;

		ul {
			@include clearfix;
			list-style: none;

			li {
				@include span-columns(2.4);
				border-left: 2px solid black;

				&:last-child {
					border-right: 2px solid black;
					margin-right: 0px;
				}

				a {
					color: white;
					text-transform: capitalize;
				}
			}
		}
	}

	.header_image {
		@include span-columns(12);

		img {
			width: 100%;
			height: auto;
		}
	}
}