#global_header {
	border-bottom: 1px solid black;

	.logo {
		@include span-columns(12);
		text-align: center;

		img {
			width: 50%;
			height: auto;
			display: inline-block;
		}
	}

	.main_nav {
		@include span-columns(12);
		text-align: center;

		ul {
			@include clearfix;
			list-style: none;
			border-bottom: 2px solid black;

			li {
				@include span-columns(2.4);
				border-left: 2px solid black;

				&:last-child {
					border-right: 2px solid black;
				}

				a {
					color: black;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
	}

	.header_image {
		@include span-columns(12);

		img {
			width: 100%;
			height: auto;
		}
	}
}