// general wrapper class
.container {
	@extend %post;
	// Set max-width here
	padding: 0px 20px;

	.content {
		@include span-columns(8);
		padding: 2rem 0;
	}
	.sidebar {
		@include span-columns(4);
		@include omega;
		padding: 2rem 0;
	}
}

.section_title {
	@include span-columns(12);
	text-align: center;
	margin-bottom: 20px;
}

.wrapper {
	background-color: lighten(#002240, 5%);
}